name: Publish CLI

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  publish:

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        configuration: [Debug]
        bundled: [true, false]
        include:
          - os: ubuntu-latest
            rid: linux-x64
          - os: macOS-latest
            rid: osx-x64
          - os: windows-latest
            rid: win-x64

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore UndertaleModCli
    - name: Build
      run: dotnet build UndertaleModCli --no-restore
    - name: Publish ${{ matrix.os }} CLI
      run: dotnet publish UndertaleModCli -c ${{ matrix.configuration }} -r ${{ matrix.rid }} --self-contained ${{ matrix.bundled }} -p:PublishSingleFile=false --output cli_${{ matrix.os }}
    - name: Copy external files
      run: |
        cp ./README.md ./cli_${{ matrix.os }}/
        cp ./LICENSE.txt ./cli_${{ matrix.os }}/
    - name: Upload ${{ matrix.os }} CLI
      uses: actions/upload-artifact@v2
      with:
        name: cli_${{ matrix.os }}
        path: cli_${{ matrix.os }}
